/* основний колір тексту, абзаців #434455 */

/* другорядний колір тексту #2E2F42 */

/* білий колір: шапка, футер, фон - #E7E9FC */

/* білий колір тексту футер, та btn(Portfolio) #F4F4FD */

/* колір акценту(ефектів) #4D5AE5 */

/* logo: Raleway(800)

nav a(500), contact-list(400), h1(700), 
btn(500), h2(700) h3(500), p(400),  'Roboto';

700 - Bold
500 - 
400 - Normal */

/* Ширина контейнеру: 1128px */
/* Gutter: 24px,(Padding left and right:12px) */

:root {
	--border-white-color: #E7E9FC;
	--text-color: #434455;
	--title-color: #2E2F42;
	--accent-color: #4D5AE5;
	--white-site-color: #F4F4FD;
	--main-background-color: #FFFFFF;
	--footer-background-color: #2E2F42;
}

body {
	color: var(--text-color);
	background-color: var(--main-background-color);

	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Reset some start properties */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
}

img {
	display: block;
	/* max-width: 100%; */
	height: auto;
}

.list {
	list-style: none;
}

/* Logo */

.logo {
	display: inline-block;
	/* padding-top: 24px;
	padding-bottom: 24px; */

	color: var(--title-color);
	font-family: "Raleway", cursive;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
}

/* Button */

.btn {
	font-weight: 500;
	cursor: pointer;

	text-align: center;
	letter-spacing: 0.04em;
}

/* Section */

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-title {
	margin-bottom: 72px;

	color: var(--title-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;

	text-align: center;
	text-transform: capitalize;
}

.title {
	margin-bottom: 8px;
	color: var(--title-color);

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

/* Header */

.header {
	background: var(--main-background-color);
	border-bottom: 1px solid var(--border-white-color);
}

.container {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-container .logo {
	padding-top: 24px;
	padding-bottom: 24px;
}

.nav {
	margin-left: 76px;
}

.nav-list,
.contact-list {
	display: flex;
}

.contact-list {
	margin-left: auto;
}

.nav-item:not(:last-child) {
	margin-right: 40px;
}

/* .nav-item + .nav-item {
	margin-left: 40px;
} */

.nav-link {
	color: var(--title-color);
	font-weight: 500;
}

.nav-link,
.contact-link {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 24px;
}

.contact-link {
	color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}

.accent {
	color: var(--accent-color);
}

/* Hero */

.hero {
	background-color: var(--footer-background-color);
	text-align: center;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 48px;

	color: var(--main-background-color);

	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
}

.hero-btn {
	display: inline-block;

	border-radius: 4px;
	padding: 16px 32px;
	min-width: 169px;


	color: var(--main-background-color);
	background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
	color: var(--title-color);
}

/* Features */

.features-list {
	display: flex;
}

.feature-item:not(:last-child) {
	margin-right: 24px;
}

.feature-item {
	width: 264px;
}


/* Examples */

.examples-list {
	display: flex;
}

.example-item:not(:last-child) {
	margin-right: 24px;
}

/* Employees */

.section:nth-child(4) {
	background-color: var(--white-site-color);
}

.employee-content {
	padding-top: 32px;
	padding-left: 16px;
	padding-bottom: 32px;

	text-align: center;
	background-color: var(--main-background-color);
}

.employee-list {
	display: flex;
}

.employee-item {
	height: 380px;
	background-color: var(--main-background-color);
}

.employee-item:not(:last-child) {
	margin-right: 24px;
}

.employee-text {
	text-align: center;
}

/* Footer */

.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--footer-background-color);
}

.footer-link {
	color: var(--white-site-color);
	margin-bottom: 16px;
}

.footer-text {
	display: block;
	color: var(--white-site-color);
}

.footer-desc {
	width: 264px;
	height: 76px;
}

/* PORTFOLIO */

.filter-item:not(:last-child) {
	margin-right: 24px;
}

.portfolio-btn {
	border: 1px solid var(--border-white-color);
	border-radius: 4px;

	padding: 12px 24px;

	background-color: var(--white-site-color);
	color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	color: var(--main-background-color);
	background-color: var(--accent-color);
}

.filter-list {
	display: flex;
	justify-content: center;

	margin-bottom: 72px;
}

.projetct-list {
	display: flex;
	flex-wrap: wrap;
}

.project-item {
	width: calc((100% - 48px)/3);

	margin-bottom: 48px;
	margin-right: 23px;
}

.project-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.project-item:nth-child(3n) {
	margin-right: 0;
}

.card-content {
	padding-top: 32px;
	padding-left: 16px;
	padding-bottom: 32px;

	background-color: var(--main-background-color);
	border: 1px solid var(--border-white-color);
}